[v-cloak] {
    display: none;
}

:root {
    touch-action: pan-y;
}

body {
    padding: 0 3rem 0 3rem;
    background-color: #424242;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.item {
    font-size: 18vw;
    text-shadow: 0 .2rem whitesmoke, .2rem 0 whitesmoke, -.2rem 0 whitesmoke, 0 -.2rem whitesmoke;
}